
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat",'Poppins', sans-serif;
    
}
.header{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #F0FFF0;    
}
.header h1{
    font-size: 80px;
    color: navy;

}
.header img{
    width: 300px;
    height: 300px;
}
.content{
    background-color: #92e3ecb6;
    color: #212B36;
}
.footer{
    background-color: #212B36;
    color: #FFFFF2;
    padding-bottom: 50px;
}
.footer-banquyen{
    padding-top: 30px;
}
.footer-banquyen,.footer-noidung,.footer-nguon{
    margin: 30px 0;
}
.footer h2{
    margin-bottom: 20px;
}
.footer-thanhvien ul{
    margin: 20px 0;
}
.noidung_trai>div,.noidung_phai>div{
    padding: 20px;
    margin: 20px ;
    border: 1px solid rgba(0, 0, 0, 0.273);
    background-color: #ffffff;
    color: #42426F;
    border-radius: 10PX;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}
nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}